.confirm_container {
    display: flex;
    justify-content: center;
    height: 100vh;

}

.confirm_message_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #272727;
    color: white;
    height: 200px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 4px;
}

.go_home_button {
    background: unset;
    border: none;
    color: blue;
}